table,
td {
    font-style: oblique;
    border: 1px solid #333;
    background-color: aquamarine;
}

thead,
tfoot {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: rgb(112, 112, 230);
}

body{
    align-content: center;
}